<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head.ejs')%>
<body>
    <%-include('../partials/header.ejs')%>
    <section>
        <div>
           
        <h2 class="">Felicitaciones! Ya eres parte de la comunidad R-market!</h2>
        <p>Te hemos enviado un mail a tu casilla de correo para validar tu cuenta.</p> 
        </div>
    </section>
    <%-include('./partials/footer.ejs')%>


</body>
</html>
