<!DOCTYPE html>
<html lang="en">
<head class="formatohead">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/users/login.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">


    <title>Log in</title>
</head>
<body>
    <%-include('../partials/header.ejs')%>
    <section>
        <div>
            <form action="/auth/" method="POST">
                <h1 class="title-font space center">Ingresa tus datos para iniciar sesión</h2>
                <div class="center space">
                    <label class="rob-14">
                        
                        <input  name="email" type="email" class="nombre-prod nombre-size  wdth-bar padding-text" placeholder="Correo Electrónico">
                    </label>
                </div>
                <div class="center space"> 
                    <label class="rob-14">
                        <input  name="password" type="password" class="nombre-prod nombre-size  wdth-bar padding-text" placeholder="Contraseña">
                    </label>
                </div>
                <div class="center space">
                    <label for="" class="center space">Recordame</label>
                    <input type="checkbox" name="size" value="XS" class="center space">
                </div>
                <div  class="center space">
                    <input type="button" value="Ingresar" class=" button-send">
                </div>
                

            </form>
        </div>
        <div class="center space">¿Aún no tenés cuenta?<a href="/auth/register">Registrate</a></div>
    </section>

    <%-include('../partials/footer.ejs')%>


</body>
</html>
