<!DOCTYPE html>
<html lang="en">
<head class="formatohead">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/users/register.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    
    <title>Registro</title>
</head>
<body>
    <%-include('../partials/header.ejs')%>
    <section>
        <div>
            <form action="/auth/" method="POST">
                <h1 class="center">Registrate</h1>
                <div class="center space">
                    <label>
                        
                        <input aria-label="nombre" aria-required="false" autocapitalize="sentences" autocorrect="off" name="nombre" type="text" class="nombre-prod nombre-size  wdth-bar padding-text" placeholder="Nombre">
                    </label>
                </div>
                <div class="center space">
                    <label class="center">
                        
                        <input aria-label="apellido" aria-required="false" autocapitalize="sentences" autocorrect="off" name="apellido" type="text" class="nombre-prod nombre-size  wdth-bar padding-text" placeholder="Apellido">
                    </label>
                </div>
                <div class="center space">
                    <label>
                        
                        <input aria-label="email" aria-required="false" autocapitalize="sentences" autocorrect="off" name="email" type="email" class="nombre-prod nombre-size  wdth-bar padding-text"placeholder="Correo Electrónico">
                    </label>
                </div>
                <div class="center space">
                    <label >
                        
                        <input aria-label="password" aria-required="false" autocapitalize="sentences" autocorrect="off" name="contraseña" type="password" class="nombre-prod nombre-size  wdth-bar padding-text" placeholder="Contraseña">
                    </label>
                </div>
                
                <div  class="center space">
                    <input type="button" value="Ingresar" class=" button-send">
                </div>
                

            </form>
        </div>
    </section>

    <%-include('../partials/footer.ejs')%>


</body>
</html>
