<!DOCTYPE html>
<html lang="en">
<head class="formatohead">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/users/register.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    
    <title>Registro</title>
</head>
<body>
    <%-include('../partials/header.ejs')%>
    <section>
        <div>
            <h1 class="center">Registrate</h1>
            <form action="/auth/register" method="POST">
                
                <div class="center space">
                   
                        <input  name="first_name" id="first_name" type="text" class="nombre-prod nombre-size  wdth-bar padding-text" placeholder="Nombre">
                   
                </div>
                <div class="center space">
                    
                        
                        <input  name="last_name" type="text"  id="last_name" class="nombre-prod nombre-size  wdth-bar padding-text" placeholder="Apellido">
                   
                </div>
                <div class="center space">
                   
                        
                        <input name="email" type="email" id="email" class="nombre-prod nombre-size  wdth-bar padding-text" placeholder="Correo Electrónico">
                    
                </div>
                <div class="center space">
                  
                        
                        <input name="password" type="password" id="password" class="nombre-prod nombre-size  wdth-bar padding-text" placeholder="Contraseña">
                   
                </div>
                
                <!--<div class ="center space rob-18"><label for="foto">Foto de perfil</label></div>
                <div class="center space"><input type="file" name="foto" class=""></div>
                -->
                <div  class="center space">
                    
                    <button type="submit" class=" button-send">Enviar</button>
                </div>

                
                

            </form>
        </div>
    </section>

    <%-include('../partials/footer.ejs')%>


</body>
</html>
