<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head.ejs')%>
    <style type="text/css" >
        input {
            outline:none;
        }

        input.success {
            border: 1px solid green;
            color: green;
        }

        input.error {
            border: 1px solid red;
            color: red;
        }
    
    </style>
<body>
    <%-include('../partials/header.ejs')%>
    <section>
        <div>
            <h1 class="center">Registrate</h1>
            <form action="/auth/register" method="POST" enctype="multipart/form-data">
                
                <div class="center space">
                   
                        <input  name="first_name" id="first_name" type="text" class="nombre-prod nombre-size  wdth-bar padding-text" placeholder="Nombre">
                   
                </div>
                <div class="center space">
                    
                        
                        <input  name="last_name" type="text"  id="last_name" class="nombre-prod nombre-size  wdth-bar padding-text" placeholder="Apellido">
                   
                </div>
                <div class="center space">
                   
                        
                        <input name="email" type="email" id="email" class="nombre-prod nombre-size  wdth-bar padding-text" placeholder="Correo Electrónico">
                    
                </div>
                <div class="center space">
                  
                        
                        <input name="password" type="password" id="password" class="nombre-prod nombre-size  wdth-bar padding-text" placeholder="Contraseña">
                   
                </div>
                
                <div class ="center space rob-18"><label for="foto">Foto de perfil</label></div>
                <div class="center space"><input type="file" name="foto" class=""></div>
                
                <div  class="center space">
                    
                    <button type="submit" class=" button-send">Enviar</button>
                </div>

                

            </form>
        </div>
        <%-include('../partials/footer.ejs')%>
    </section>

    
    <script src="UserValidator.js"></script>
</body>
</html>
