<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head.ejs')%>
<body>
     <%-include('../partials/header.ejs')%>

    <div class="cont-prod d-flex cont"><!--Contenedor general de todo -->

   
      
        <div class="img margin-top img-central">
    
            <img src="/images/products/img-blusa.jpeg" alt="foto-perfil" class="wd-100">
            
             
        </div>
       
        <div class="art-data margin-top flex-data prod-border">
            <h1 class="prod-title"><%= user.name %></h1>
            <div><a href="">Cambiar Contraseña</a> </div>
            <div class="prod-price"><a href="">Direcciones de envío</a></div>
            <div class="prod-color margin-top" >Metodos de pago</div>
            <div class="prod-color margin-top">Historial de Pedidos</div>
            
    
        </div>
        
    </div>



<%-include('../partials/footer.ejs')%>
</body>
</html>