<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head.ejs')%>
<body>
<div>Foto de perfil</div>
<div>Perfil y password</div>
<div>Direcciones de Envío</div>
<div>Métodos de Pago</div>
<div>Historial de Pedidos</div>
</body>
</html>