<footer class="ft ft-area">
    <div class="d-flex foot">
        <article>
            <p class="title-ft">R-market</p>
        <ul class="ft-text ft-space">
            
            <li class="margin-ft-elements"><a href="/info/faqs" class="footer">Preguntas Frecuentes</a></li>
            <li class="margin-ft-elements"><a href="/info/zonas-envios" class="footer">Zonas de envío</a></li>
            <li class="margin-ft-elements"><a href="/info/terminos-y-condiciones" class="footer">Términos y Condiciones</a></li>
            <li class="margin-ft-elements"><a href="/info/devoluciones" class="footer">Políticas de devolución</a></li>
        </ul>
        </article>
        <article>
            <p class="title-ft">Contactanos</p>
            <ul class="ft-text ft-space">
                <li><span><i class="fab fa-whatsapp redes-icon"></i></span>+54911-4555-5555</li>
                <li class="margin-ft-elements"><span><i class="far fa-envelope redes-icon"></i></span>contacto@r-market.com.ar</li>
                
    
            </ul>
        </article>
        
        <article>
            <p class="title-ft">Redes Sociales</p>
            <div class="d-flex flex-icon ft-space">
            <a href="https://www.facebook.com/" class="redes-icon">
                <i class="fab fa-facebook"></i>
            </a> 
    
            <a href="https://www.instagram.com/" class="redes-icon">
                <i class="fab fa-instagram"></i>
            </a>
    
            <a href="https://twitter.com/" class="redes-icon">
                <i class="fab fa-twitter-square"></i>
            </a> 
        </div>         
        </article>
        
    </div>
    <article class="copyright">Copyright R-market-2020.Todos los derechos reservados</article>
    </footer