<header>
  <section class="section-header">

    <div>
    <a href="/"><img class="logo" src="/images/logo-rmarket-final.png"></a>
    </div>

    <form action="/search" method="GET">
        <input type="search" id="search" name="nombre" placeholder="Buscar producto, marca o vendedor"/>
        <button type="submit"><i class="fas fa-search icono-lupa"></i></button>
    </form>
   
    <div class="item-grow-2 icono-centro">
      <% if (locals.user){ %>
        <div>Bienvenido <%= locals.user %> </div>
        <form action="/auth/logout" method="POST">
        <button>logout</button>
        </form>  
      <% }else{ %> 
        <a href="/auth/login"><i class="fas fa-user-alt icono"></i>
        <p>Iniciar sesión</p>
      </a>
    <% } %> 
    </div>
    
    <div class="item-grow icono-centro">
      <a href="/cart"><i class="fas fa-shopping-cart icono"></i></a>
      <p>Carrito</p>
    </a>
    </div>
    
  </section>
  <nav>
    
      <a href='/products'>LISTADO DE PRODUCTOS</a>
      <a href='/products/create/nuevo'>AGREGAR PRODUCTO</a>
      <a href='/auth/register'>REGISTRARSE</a>
      <a href='/contacto'>AYUDA</a>
  </nav>
  <div class="menu">
    <i class="fas fa-bars burguer"></i>
  </div>
</header>

        
