<header>
  <section class="section-header">

    <div>
    <a href="/"><img class="logo" src="/images/logo-rmarket-final.png"></a>
    </div>

    <form action="/products" class="search-form item-grow-1">
        <input class="" type="search" id="search" name="nombre" placeholder="Buscar producto, marca o vendedor"/>
        <button type="submit" class="lupa"><i class="fas fa-search"></i></button>
    </form>
   
    <div class="item-grow-2 icono-centro">
        <a href="/products/users"><i class="fas fa-user-alt icono"></i></a>
        <p>Iniciá sesión</p>
        
    </div>
    
    <div class="item-grow icono-centro">
      <a href="/products/carrito"><i class="fas fa-shopping-cart icono"></i></a>
      <p>Carrito</p>
    </div>
    
      
  
  </section>
  <nav>
      <a href='/products'>PRODUCTOS</a>
      <a href='/auth/registrar'>REGISTRARSE</a>
      <a href='/contacto'>AYUDA</a>
  </nav>
  <div class="menu">
    <i class="fas fa-bars burguer"></i>
  </div>
</header>

        
