 <header class="header"><!--Barra de navegacion-->  
        <div> <!--contenedor general-->
        <div  class="d-flex cont nav-sup"><!--contenedor parte superior-->
          
            <div class="flex-logo">

              <img src="/images/logo-r-market-amarillo.svg" alt="">
            </div>
            <div class="flex-search">
            
<<<<<<< HEAD
              <input type="search" placeholder="Buscar" name="busqueda" required class="search-bar">
=======
              <input type="search" placeholder="Buscar" name="mail" required class="search-bar">
>>>>>>> 42a34dea3e7d6ae6db38816461778c07745ace0d
              <input type="submit"></input>
            </div>
          
          </div>
        </div>
<<<<<<< HEAD
          <div class="">
=======
          <div>
>>>>>>> 42a34dea3e7d6ae6db38816461778c07745ace0d
            <ul class="d-flex">
              <li class="li"><a href="">Categorias</a></li>
              <li class="li"><a href="">Ofertas</a></li>
              <li class="li"><a href="">Productores</a></li>
              <li class="li"><a href="">Proveedores</a></li>
              <li class="li"><a href="">Ayuda</a></li>
            </ul>
        </div>
        
        </header>
        
        </div>
</header>