<header>
  <section class="section-header">
    <a href="/"><img class="logo margin-top-nav " src="/images/logo-rmarket-final.png"></a>
    <form action="/products">
        <input class="search-bar" type="search" id="search" name="nombre" placeholder="Buscar producto, marca o vendedor"/>
    </form>
    <div class="carrito-header ">
        <a href="/products/users"><i class="fas fa-user-alt"></i></i></a>
        
    </div>
    <div class="carrito-header">
      <a href="/products/carrito"><i class="fas fa-shopping-cart"></i></a>
    </div>
    
      
  
  </section>
  <nav>
      <a href='/products'>PRODUCTOS</a>
      <a href='/auth/registrar'>REGISTRARSE</a>
      <a href='/contacto'>AYUDA</a>
  </nav>
  <div class="menu">
    <i class="fas fa-bars burguer"></i>
  </div>
</header>

        
