<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/info/preguntasFrecuentes.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Document</title>
</head>

<body>

    <%-include('../partials/header.ejs')%>

    <main>
        <h1>Preguntas Frecuentes</h1>

        <p class="envios titles">ENVÍOS Y SEGUIMIENTO</p>
<p class="titles">¿Qué días realizan las entregas?</p>
<p class="text" >Realizamos entregas de lunes a viernes, en el rango de 9 a 20hs.</p>

<p class="titles">¿En qué zonas entregan?</p>
<p class="text" >Realizamos envíos a todo el país.</p> 

<p class="text" >En CABA y Zona 1 GBA entregamos productos refrigerados y secos, al resto del país enviamos productos secos.</p>

<p class="titles">¿Cuánto tardo en recibir mi pedido?</p>
<p class="text" >En CABA y GBA, al colocar tu código postal podrás ver en nuestra web qué día estarás recibiendo tu pedido.</p>

<p class="text" >Nos contactaremos con vos igualmente para informarte antes por mail y estés atento :) </p>

<p class="text" >Retomamos entregas al interior! Son despachados entre miércoles y viernes de cada semana, y recibirás el código de trackeo de tu pedido para ir siguiéndolo</p>

<p class="titles">¿Cuánto cuesta el envío?</p>
<p class="text" >La compra mínima para que podamos realizar el envío en estas semanas de cuarentena es de $1500. Tiene un costo de $250 en CABA y $300 en GBA.</p>

<p class="text" >Envío GRATIS en CABA para pedidos superiores a $3.000, y en GBA para pedidos superiores a $5.000.</p>

<p class="text" >Envíos al interior, el costo depende del código postal del domicilio de entrega, y se detalla en el checkout (es decir, antes de finalizar la compra).</p>

<p class="titles">¿Puedo comprar menos de $1.500?</p>
<p class="text" >Al momento no dado que se encuentra SUSPENDIDO el pick up momentáneamente para cuidarnos entre todos. Generalmente sí, no hay problema (podés venir a retirarlo sin costo por nuestro pick up). </p>

<p class="titles">¿Puedo optar por retirar mi pedido?</p>
<p class="text" >Por cuestiones de público conocimiento hemos suspendido el retiro por nuestro pick up. Esta medida de seguridad es para el cuidado de toda nuestra comunidad.</p>

<p class="titles">¿Puede recibir otra persona mi pedido?</p>
<p class="text" >Sí, por favor dejanos avisado su nombre para poder entregárselo.</p>

<p class="titles">¿Qué pasa si no estoy en mi domicilio al momento de la entrega acordada?</p>
<p class="text" >Si la entrega es en CABA, el pedido volverá a nuestro depósito y podrás solicitar una nueva entrega coordinando día con costo. </p>

<p class="text" >Si la entrega es en GBA o al interior, el correo volverá una segunda vez a visitar el domicilio.</p>

<p class="titles">¿Cuentan con sucursales?</p>
<p class="text" >No, todas nuestras ventas son online.</p>

<p class="text" >Si necesitás ayuda para realizar tu pedido por favor contactanos desde el botón de WhatsApp que ves en la pantalla.</p>

 

<p class="titles">FORMAS DE PAGO</p>
<p class="titles">¿Cuáles son los medios de pago?</p>
<p class="text" >Trabajamos con Mercado Pago, aceptando tarjetas de crédito, débito, y dinero en Mercado Pago.</p>

<p class="text"  >También aceptamos transferencias bancarias. </p>

<p class="text" >Tenemos suspendido momentáneamente los cobros en efectivo en CABA por motivos de seguridad.</p>

<p class="titles">¿Cómo se hace para pagar con tarjeta de crédito? </p>
<p class="text" >Agregá los productos que te interesen a tu carrito. Antes de finalizar la compra vas a poder elegir el medio de pago que prefieras (por ejemplo, tarjeta de crédito). Acordate de tener la tarjeta a mano ya que deberás completar los números de la misma.</p>

 

<p class="titles">PROMOCIONES BANCARIAS</p>
<p class="text" >Ahora 3 cuotas sin interés todos los días! Con tarjetas bancarias.</p> 



    </main>

    <%-include('../partials/footer.ejs')%>

    
</body>
</html>