<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/info/terminosYCondiciones.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <%-include('../partials/header.ejs')%>
<main>

<h1>Términos y Condiciones</h1>

<p>Términos y condiciones de uso del sitio web www.r-dmarket.com.ar</p>

<p>Bienvenido al sitio de internet www.r-market.com.ar, (en adelante el “Sitio”) de REGIONAL COMMERCE S.A. Los términos y condiciones, que se describen a continuación (en adelante los “Términos y Condiciones”) tienen por objeto regular el uso que realicen las personas que ingresen al Sitio. Por “Usuario” del website se entiende tanto a los registrados como a los visitantes, (en adelante el “Usuario”). Al registrarse y/o navegar en el Sitio, el Usuario presta su consentimiento al presente.</p>

<p>Apreciado Usuario</p>

<p>El sitio Web de R-market tiene como función principal brindar información sobre sus productos, ofertas, nuevos productos y la venta online a sus usuarios. Por medio de su sitio web, publica información sobre alimentación, alimentos, noticias, indumentaria, tendencias en diferentes rubros y actividades relacionadas. R-market solicita al visitante y al usuario de esta página, que lea detalladamente estas condiciones y la política de privacidad, antes de iniciar su exploración o utilización. Si alguno de los dos, no está de acuerdo con estas condiciones o con cualquier disposición de la política de privacidad, le sugerimos que se abstenga de acceder o navegar por el sitio web de nuestra Compañía.</p>

<p>Aceptacion de Términos</p>
<p>R-market se reserva, en todos los sentidos, el derecho de actualizar y modificar en cualquier momento y de cualquier forma, de manera unilateral y sin previo aviso, las presentes condiciones de uso y los contenidos del sitio web. El usuario reconoce que en virtud de estas condiciones y normativas generales, R-market, no cede ni transfiere al usuario del presente sitio web, ningún derecho sobre su propiedad, o sobre cualquier propiedad de terceras partes. R-market, sólo autoriza al usuario el acceso y uso de los mismos de conformidad con los términos indicados en las presentes condiciones y normativas. R-market, autoriza a los usuarios a acceder y navegar en el sitio web utilizando los Servicios y visualizando los contenidos que allí se incorporen. Los usuarios no están autorizados para; copiar, divulgar, transmitir, comunicar, modificar, alterar, distribuir (incluyendo correos electrónicos e Internet) ceder, o, en cualquier otra forma, desplegar actividades que conlleven a cualquier tipo de uso comercial o no de la presente sitio web afectando su contenido o elementos que lo integran. Ya sea con carácter parcial o total, sin que constate el expreso consentimiento, otorgado por escrito, del legítimo titular de los derechos de explotación. Cuando R-market autorice expresamente por escrito, el usuario podrá descargar una única copia del contenido, de acuerdo a lo establecido en la autorización. En cualquier caso, la licencia de uso reconocida en el presente apartado no podrá ser, en ningún caso, cedida o transferida a terceras partes.</p>

<p>El acceso, visualización y en su caso, descarga de los Contenidos y/o Servicios se realizará siempre y en todo caso con fines estrictamente personales y no comerciales. R-market se reserva todos y cada uno de los derechos sobre la Propiedad, incluyendo, a título enunciativo y no limitativo; los derechos de propiedad intelectual e industrial que ostente sobre los mismos.</p>

<p>R-market no concede ninguna otra licencia o autorización de uso al usuario sobre su Propiedad, diferente a la que expresamente se detalla en la presente clausula.</p>

</main>




    <%-include('../partials/footer.ejs')%>
</body>
</html>